section
  h1 Code mirror
  .cols
    .col
      codemirror( width='100%'
                  height='400px' 
                  label='flex-volume-demo.yaml'
                  host-id='localhost'
                  file-name='~/flex-volume-demo.yaml'
                  mode="yaml" 
                  theme="ambiance"
                  :font-size=16)
        textarea
          | apiVersion: v1
          | kind: Pod
          | metadata:
          |   name: nginx-dummy
          |   namespace: default
          | spec:
          |   containers:
          |   - name: nginx-dummy
          |     image: nginx
          |     volumeMounts:
          |     - name: dummy
          |       mountPath: /data
          |     ports:
          |     - containerPort: 80
          |   volumes:
          |   - name: dummy
          |     flexVolume:
          |       driver: "lab/lochost"
          |       options:
          |         volumeID: "nginx-volume"
    .col
      term( id="termcode" 
            host-id="localhost"
            autostart=true 
            :font-size=16
            width='100%'
            height='400px'
            command="clear\\n")
